<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Edit your chat</title>
</head>
<body>
   <h1 class="h">Edit your chat: <%= chat._id %></h1>
   <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
      <!-- Form content goes here -->
      <p>This chat is sent from <b><%= chat.from %> </b>to <b> <%= chat.to %></b></p>
      <textarea name="edit" id="" cols="30" rows="10"><%=chat.message%></textarea>
      <br><br><br>
   
      <button type="submit" >Save Changes</button>
   </form>
</body>
</html>
